{% extends "base.html" %}

{% block content %}
    <h1>Review of project "{{ review.project.name }}"</h1>
    <ul class="list-unstyled">
            <li>
                <p>An open source project by <strong>{{ review.project.author }}</strong>.</p>
                <h5>Link to source: <a href="{{ review.project.source }}"> {{ review.project.source }}</a></h5>
                <h5>Link to documentation: <a href="{{ review.project.documentation }}"> {{ review.project.documentation }}</a></h5>
                <hr/>
                <table class="table">
                    <thead>
                        <th>Metric</th><th>Score</th><th>Rationale</th>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Documentation</td><td>{{ review.documentation_review.stars|show_stars|safe }}</td><td>{{ review.documentation_review.content|safe }}</td>
                        </tr>
                        <tr>
                            <td>Code Quality</td><td>{{ review.code_quality_review.stars|show_stars|safe }}</td><td>{{ review.code_quality_review.content|safe }}</td>
                        </tr>
                        <tr>
                            <td>Ease of Use</td><td>{{ review.ease_of_use_review.stars|show_stars|safe }}</td><td>{{ review.ease_of_use_review.content|safe }}</td>
                        </tr>
                        <tr>
                            <td>Ease of Contribution</td><td>{{ review.ease_of_contribution_review.stars|show_stars|safe }}</td><td>{{ review.ease_of_contribution_review.content|safe }}</td>
                        </tr>
                        <tr>
                            <td>Project Infrastructure</td><td>{{ review.project_infrastructure_review.stars|show_stars|safe }}</td><td>{{ review.project_infrastructure_review.content|safe }}</td>
                        </tr>
                        <tr>
                            <td>Overall (not an average)</td><td>{{ review.overall_review.stars|show_stars|safe }}</td><td>{{ review.overall_review.content|safe }}</td>
                        </tr>
                    </tbody>
                </table>
                <hr/>
                <h3>Review</h3>
                {% if review.review_date %}
                <p>Review date: {{ review.review_date|naturaltime|safe}}</p>
                {% else %}
                <p>Review date: {{ review.review_date|safe}}</p>
                {% endif %}
                <p>{{ review.content|safe}}</p>
            </li>
    </ul>
        <div id="disqus_thread"></div>
            <script type="text/javascript">
            var disqus_shortname = 'hackersgonnahack';

            (function() {
                var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
        </div>
{% endblock content %}
