{% extends "base.html" %}

{% block content %}
    <ul class="list-unstyled">
        {% for review in reviews %}
            <li>
                <h2 class="text-center">{{ review.project.name }}</h2>
                <p>An open source project by <strong>{{ review.project.author }}</strong>.</p>
                <h5>Link to source: <a href="{{ review.project.source }}"> {{ review.project.source }}</a></h5>
                <h5>Link to documentation: <a href="{{ review.project.documentation }}"> {{ review.project.documentation }}</a></h5>
                <hr/>
                <p>{{ review.content|safe }}</p>
            </li>
        {% endfor %}
    </ul>
{% endblock content %}

