{% extends "base.html" %}

{% block content %}
<form role="form" method="POST" action="/login">
    <div class="col-md-6 col-md-offset-3">
        <div class="form-group">
            {{ form.csrf_token }}
            <label for="email">Email address</label>
            <input class="form-control" name="email" id="email"></input>
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" id="passord"></input>
        </div>
            <button type="submit" class="form-control">Login</button>
    </div>
</form>
{% endblock content %}
