
// Colors
black =           #000000
blue =            #1B75BB
brown =           #c1b49a
cyan =            #2A91A8
gold =            #ab862a
green =           #80B23C
orange =          #f16522
purple =          #4A46AA
pink =            #ec297b
red =             #DA3A35
yellow =          #fcb400

// Helpers
color-primary =   lighten(black, 30%)
color-secondary = lighten(black, 70%)

color-1 =         brown
color-2 =         purple
color-3 =         blue
color-4 =         green
color-5 =         yellow
color-6 =         orange
color-7 =         red
color-8 =         cyan
color-9 =         gold
color-10 =        pink

iconic-color(color)
  fill color
  stroke color


/* Hide all icons that are waiting to be injected */
img.iconic
  display none


/* Make sure filled and text elements only get fills */
.iconic-property-fill, .iconic-property-text
  stroke none !important


/* Make sure stroked elements only get strokes */
.iconic-property-stroke
  fill none !important


.iconic *
  iconic-color(color-primary)


.iconic-account *
  &.iconic-account-login *, 
  &.iconic-account-logout *
    iconic-color(color-3)

    &.iconic-property-accent
      iconic-color(color-secondary)
    
  


.iconic-action *
  &.iconic-action-undo *
    iconic-color(color-7)
  
  &.iconic-action-redo *
    iconic-color(color-4)
  


.iconic-align-left *,
.iconic-align-center *,
.iconic-align-right *
  iconic-color(color-primary)


.iconic-aperture
  .iconic-aperture-blade-1
    fill color-5
  
  .iconic-aperture-blade-2
    fill color-6
  
  .iconic-aperture-blade-3
    fill color-7
  
  .iconic-aperture-blade-4
    fill color-2
  
  .iconic-aperture-blade-5
    fill color-8
  
  .iconic-aperture-blade-6
    fill color-4
  


.iconic-arrow *
  iconic-color(color-primary)


.iconic-arrow-thick *
  iconic-color(color-primary)


.iconic-arrow-right-angle *
  iconic-color(color-primary)


.iconic-arrow-right-angle-thick *
  iconic-color(color-primary)


.iconic-audio-spectrum
  .iconic-audio-spectrum-frequency-low
    iconic-color(color-6)
  
  .iconic-audio-spectrum-frequency-mid
    iconic-color(color-5)
  
  .iconic-audio-spectrum-frequency-high
    iconic-color(color-4)
   


/* TODO Move */
.iconic-media-skip-backward *
  iconic-color(color-3)


.iconic-ban *
  iconic-color(color-7)


.iconic-basket
  .iconic-basket-body
     iconic-color(color-4)
  

  .iconic-basket-lip
     iconic-color(darken(color-4, 10%))
  

  .iconic-basket-handle
    iconic-color(color-primary)
  



.iconic-battery
  .iconic-battery-charge-amount
    iconic-color(color-4)
  


.iconic-bar-chart *
  iconic-color(color-secondary)

  &.iconic-bar-chart-bar-1 
    iconic-color(color-4)
  

  &.iconic-bar-chart-bar-2 
    iconic-color(color-8)
  

  &.iconic-bar-chart-bar-3 
    iconic-color(color-2)
  

  &.iconic-bar-chart-bar-4 
    iconic-color(color-7)
  

  &.iconic-bar-chart-bar-5 
    iconic-color(color-6)
  


.iconic-beaker
  .iconic-beaker-measure-line
    iconic-color(color-secondary)
  
  .iconic-beaker-fluid
    iconic-color(color-3)
  
  .iconic-beaker-fluid-bubble
    iconic-color(lighten(color-3, 10%))
  


.iconic-bell *
  iconic-color(darken(color-5, 10%))

  &.iconic-property-accent
    iconic-color(darken(color-5, 15%))
  


.iconic-bitcoin-address
  .iconic-bitcoin-address-b
    iconic-color(darken(color-5, 5%))
  
  .iconic-bitcoin-address-strike
    iconic-color(darken(color-5, 5%))
  


.iconic-bitcoin-block
  .iconic-bitcoin-block-b
    iconic-color(darken(color-5, 5%))
  
  .iconic-bitcoin-block-strike
    iconic-color(darken(color-5, 5%))
  
  .iconic-bitcoin-block-block
    iconic-color(darken(color-5, 15%))
  


.iconic-bitcoin-transaction
  .iconic-bitcoin-transaction-b
    iconic-color(darken(color-5, 5%))
  
  .iconic-bitcoin-transaction-strike
    iconic-color(darken(color-5, 5%))
  

  .iconic-bitcoin-transaction-arrow-top
    iconic-color(color-4)
  

  .iconic-bitcoin-transaction-arrow-bottom
    iconic-color(color-7)
  


.iconic-bitcoin
  .iconic-bitcoin-b
    iconic-color(darken(color-5, 5%))
  
  .iconic-bitcoin-strike
    iconic-color(darken(color-5, 5%))
  


.iconic-bluetooth *
  iconic-color(color-3)


.iconic-bold *
  iconic-color(color-primary)


.iconic-book *
  iconic-color(darken(color-1, 20%))


.iconic-bookmark *
  iconic-color(color-7)


.iconic-box
  .iconic-box-lid
    iconic-color(darken(color-1, 30%))
  

  .iconic-box-shell
    iconic-color(darken(color-1, 20%))
  


.iconic-brain *
  iconic-color(color-10)


.iconic-briefcase
  .iconic-briefcase-body-top
    iconic-color(darken(color-1, 30%))
  
  .iconic-briefcase-body-bottom
    iconic-color(darken(color-1, 20%))
  
  .iconic-briefcase-body-buckle
    iconic-color(color-9)
  
  .iconic-briefcase-handle
    iconic-color(color-9)
  


.iconic-british-pound *
  iconic-color(color-9)


.iconic-browser *
  iconic-color(color-secondary)



.iconic-brush *
  iconic-color(color-1)

  &.iconic-property-accent
    iconic-color(color-secondary)
  


.iconic-bug *
  iconic-color(color-primary)
  &.iconic-bug-head
    iconic-color(darken(color-7, 20%))
  
  &.iconic-bug-thorax
    iconic-color(color-7)
  


.iconic-bullhorn *
  iconic-color(color-primary)
  &.iconic-bullhorn-body
    iconic-color(color-primary)
  
  &.iconic-bullhorn-body-front-lip
    iconic-color(color-3)
  
  &.iconic-bullhorn-body-back
    iconic-color(color-3)
  
  &.iconic-bullhorn-handle
    iconic-color(color-primary)
  
  &.iconic-bullhorn-handle-trigger
    iconic-color(color-3)
  
  


.iconic-calculator *
  iconic-color(color-primary)


.iconic-calendar *
  &.iconic-calendar-top
    iconic-color(color-7)
  
  &.iconic-calendar-body
    iconic-color(color-secondary)
  


.iconic-camera-rangefinder *
  iconic-color(color-primary)

  &.iconic-property-accent
    iconic-color(color-secondary)
  

  &.iconic-camera-rangefinder-body-top
    iconic-color(color-secondary)
  

  &.iconic-camera-rangefinder-controls-lens-release
    iconic-color(color-7)
  


.iconic-camera-slr *
  iconic-color(color-primary)

  &.iconic-property-accent
    iconic-color(color-secondary)
  

  &.iconic-camera-slr-body
    iconic-color(color-primary)
  

  &.iconic-camera-slr-lens-release
    iconic-color(color-7)
  


.iconic-caret *
  iconic-color(color-primary)


.iconic-cart *
  iconic-color(color-primary)

  &.iconic-cart-basket
    iconic-color(color-4)
  


.iconic-chat *
  iconic-color(color-3)

  &.iconic-property-accent
    iconic-color(color-8)
  


.iconic-check *
  iconic-color(color-4)


.iconic-chevron *
  iconic-color(color-primary)


.iconic-circle-check *
  iconic-color(color-4)


.iconic-circle-x *
  iconic-color(color-7)


.iconic-clock *
  iconic-color(color-primary)

  &.iconic-clock-hand
    iconic-color(color-secondary)
  
  &.iconic-clock-hand-second
    iconic-color(color-7)
  


.iconic-cloud *
  iconic-color(color-secondary)


.iconic-cloud-download *,
.iconic-cloud-upload * 
  iconic-color(color-secondary)

  &.iconic-property-accent
    iconic-color(color-3)
  


.iconic-cloudy *
  iconic-color(color-secondary)

  &.iconic-property-accent
    iconic-color(color-5)
  


.iconic-code *
  iconic-color(color-secondary)

  &.iconic-code-slash
    iconic-color(color-3)
  


.iconic-code *
  iconic-color(color-primary)


.iconic-cog *
  iconic-color(color-primary)


.iconic-collapse *,
.iconic-expand *
  iconic-color(color-secondary)

  &.iconic-property-accent
    iconic-color(color-3)
  


.iconic-comment-square *
  iconic-color(darken(color-5, 10%))


.iconic-compass *
  iconic-color(lighten(color-9, 20%))

  &.iconic-compass-body
    fill-opacity 1 !important
    fill lighten(color-9, 50%) !important
  

  &.iconic-compass-needle-axis
    iconic-color(color-primary)
  

  &.iconic-compass-needle
    iconic-color(color-primary)
  

  &.iconic-compass-direction
    iconic-color(color-secondary)
  

  &.iconic-compass-direction-north
    iconic-color(color-7)
  


.iconic-contrast *
  iconic-color(color-primary)


.iconic-copywriting *
  iconic-color(color-secondary)

  &.iconic-property-accent
    iconic-color(color-7)
  


.iconic-credit-card *
  iconic-color(color-3)


.iconic-crop *
  iconic-color(color-3)


.iconic-dashboard *
  iconic-color(color-primary)

  &.iconic-property-accent
    iconic-color(color-secondary)
  

  &.iconic-dashboard-needle
    iconic-color(color-7)
  


.iconic-data-transfer *
  .iconic-download *
    iconic-color(color-4)
  
  .iconic-upload *
    iconic-color(color-3)
  


.iconic-delete *
  iconic-color(color-7)


.iconic-dial *
  iconic-color(color-primary)

  &.iconic-dial-notch
    iconic-color(color-secondary)
  

  &.iconic-dial-notch-7,
  &.iconic-dial-notch-8,
  &.iconic-dial-notch-9
    iconic-color(color-7)
  


.iconic-document *
  &.iconic-document-page
    iconic-color(color-secondary)
  
  &.iconic-document-flap
    iconic-color(color-primary)
  


.iconic-dollar *
  iconic-color(color-9)


.iconic-double-quote-left *,
.iconic-double-quote-right *
  iconic-color(color-primary)


.iconic-eject *
  iconic-color(color-primary)


.iconic-electric *
  iconic-color(color-5)


.iconic-ellipses *
  iconic-color(color-primary)


.iconic-envelope *
iconic-color(color-1)


.iconic-envelope-open *
  iconic-color(color-1)

  &.iconic-property-accent
    iconic-color(lighten(color-1, 20%))
  


.iconic-euro *
  iconic-color(color-9)


.iconic-excerpt *
  iconic-color(color-secondary)

  &.iconic-property-accent
    iconic-color(color-7)
  


.iconic-eye *
  &.iconic-eye-eyeball
    iconic-color(color-secondary)
  
  &.iconic-eye-pupil
    iconic-color(color-3)
  


.iconic-eyedropper *
  iconic-color(color-primary)

  &.iconic-eyedropper-fluid
    iconic-color(color-3)
  


.iconic-file *
  iconic-color(color-primary)
  &.iconic-file-page
    iconic-color(color-secondary)
  
  &.iconic-file-flap
    iconic-color(color-primary)
  


.iconic-fire *
  iconic-color(color-7)

  &.iconic-property-accent
    iconic-color(color-6)
  


.iconic-firefly *
  iconic-color(color-primary)
  &.iconic-firefly-wing
    iconic-color(color-secondary)
  
  &.iconic-firefly-light-beam
    iconic-color(color-5)
  


.iconic-flag *
  &.iconic-flag-back
    iconic-color(darken(color-3, 10%))
  
  &.iconic-flag-front
    iconic-color(color-3)
  


.iconic-folder *
  &.iconic-folder-top
    iconic-color(color-1)
  
  &.iconic-folder-bottom
    iconic-color(darken(color-1, 10%))
  


.iconic-fork *
  &.iconic-fork-line-trunk
    iconic-color(color-3)
  
  &.iconic-fork-point-trunk-start
    iconic-color(color-3)
  
  &.iconic-fork-point-trunk-end
    iconic-color(color-3)
  
  &.iconic-fork-line-fork
    iconic-color(color-4)
  
  &.iconic-fork-point-fork
    iconic-color(color-4)
  


.iconic-flash *
  iconic-color(color-5)


.iconic-fullscreen *
  .iconic-fullscreen-enter-line, .iconic-fullscreen-enter-arrowhead
     iconic-color(color-4)
   

  .iconic-fullscreen-exit-line, .iconic-fullscreen-exit-arrowhead
     iconic-color(color-7)
   


.iconic-globe *
  iconic-color(color-4)


.iconic-graph *
  iconic-color(color-8)

  &.iconic-property-accent
    iconic-color(color-secondary)
  


.iconic-guides *
  iconic-color(color-2)


.iconic-hard-drive *
  iconic-color(color-primary)

  &.iconic-hard-drive-casing-top
    iconic-color(color-secondary)
  


.iconic-headphones *
  iconic-color(color-primary)

  &.iconic-headphones-connector
    iconic-color(color-secondary)
  

  &.iconic-headphones-top
    iconic-color(color-6)
  

  &.iconic-headphones-speaker-back
    iconic-color(color-6)
  


.iconic-heart *
  iconic-color(color-7)


.iconic-home *
  &.iconic-home-roof
    iconic-color(darken(color-1,15%))
  
  &.iconic-home-wall
    iconic-color(color-1)
  


.iconic-image-landscape *,
.iconic-image-portrait *
  iconic-color(color-primary)

  &.iconic-property-accent
    iconic-color(color-secondary)
  

  &.iconic-image-landscape-sun
    iconic-color(color-5)
  


.iconic-inbox *
  iconic-color(color-8)


.iconic-info *
  iconic-color(color-3)


.iconic-italic *
  iconic-color(color-primary)


.iconic-key *
  iconic-color(color-9)



.iconic-layers *
  iconic-color(color-primary)

  &.iconic-property-accent
    iconic-color(color-secondary)
  


.iconic-lightbulb *
  &.iconic-lightbulb-coil
    iconic-color(color-5)
  
  &.iconic-lightbulb-base
    iconic-color(color-primary)
  
  &.iconic-lightbulb-screw
    iconic-color(color-secondary)
  


.iconic-lightning *
  iconic-color(color-secondary)

  &.iconic-property-accent
    iconic-color(color-5)
  


.iconic-lightning-bolt *
  iconic-color(color-5)


.iconic-link *
  iconic-color(color-3)


.iconic-link-broken *
  iconic-color(lighten(color-3, 30%))


.iconic-list *
  iconic-color(color-secondary)

  &.iconic-property-accent
    iconic-color(color-primary)
  


.iconic-list-rich *
  iconic-color(color-secondary)
  &.iconic-list-rich-list-group-1.iconic-list-rich-block
    iconic-color(color-3)
  
  &.iconic-list-rich-list-group-2.iconic-list-rich-block
    iconic-color(color-4)
  
  &.iconic-list-rich-list-group-3.iconic-list-rich-block
    iconic-color(color-7)
  


.iconic-location *
  iconic-color(color-6)


.iconic-lock *
  &.iconic-lock-locked-body, 
  &.iconic-lock-unlocked-body
    iconic-color(darken(color-3, 10%))
  

  &.iconic-lock-locked-body-main, 
  &.iconic-lock-unlocked-body-main
    iconic-color(color-3)
  

  &.iconic-lock-locked-loop, 
  &.iconic-lock-unlocked-loop
    iconic-color(color-secondary)
  



.iconic-loop-circular *
  iconic-color(color-primary)

  &.iconic-loop-circular-line-right,
  &.iconic-loop-circular-arrowhead-right
    iconic-color(color-secondary)
  


.iconic-loop-square *
  iconic-color(color-primary)

  &.iconic-loop-square-line-bottom,
  &.iconic-loop-square-arrowhead-bottom
    iconic-color(color-secondary)
  


.iconic-loop *
  iconic-color(color-primary)

  &.iconic-loop-line-bottom,
  &.iconic-loop-arrowhead-bottom
    iconic-color(color-secondary)
  


.iconic-magic-wand *
  &.iconic-magic-wand-shaft
    iconic-color(color-primary)
  
  &.iconic-magic-wand-shaft-tip
    iconic-color(color-secondary)
  
  &.iconic-magic-wand-ray-major
    iconic-color(color-5)
  
  &.iconic-magic-wand-ray-minor
    iconic-color(lighten(color-5, 10%))
  
  &.iconic-magic-wand-spark
    iconic-color(color-9)
  


.iconic-magnifying-glass *
 
  &.iconic-magnifying-glass-handle
    iconic-color(color-1)
  
  &.iconic-magnifying-glass-handle-connector
    iconic-color(color-secondary)
  
  &.iconic-magnifying-glass-rim
    iconic-color(color-secondary)
  
  &.iconic-magnifying-glass-reflection
    iconic-color(lighten(color-3, 25%))
  


.iconic-map-marker *
  iconic-color(color-8)


.iconic-map *
  &.iconic-map-map-marker
    iconic-color(color-8)
  
  &.iconic-map-street
    iconic-color(color-secondary)
  


.iconic-medal *
  &.iconic-medal-medal
    iconic-color(color-9)
  
  &.iconic-medal-band
    iconic-color(color-3)
  


.iconic-media-play-circle *
  iconic-color(color-4)


.iconic-media-skip *
  &.iconic-media-skip-backward *,
  &.iconic-media-skip-forward *
    iconic-color(color-8)
  


.iconic-media-step *
  &.iconic-media-step-backward *,
  &.iconic-media-step-forward *
    iconic-color(color-3)
  


.iconic-media *
  iconic-color(color-primary)
  &.iconic-media-play *
    iconic-color(color-4)
  
  &.iconic-media-record *
    iconic-color(color-7)
  


.iconic-medical-cross *
  iconic-color(color-7)


.iconic-microphone *
  iconic-color(color-primary)
  &.iconic-microphone-head
    iconic-color(color-secondary)
  
  &.iconic-microphone-head-button
    iconic-color(color-4)
  


.iconic-monitor *
  &.iconic-monitor-base
    iconic-color(color-secondary)
  


.iconic-moon *
  iconic-color(color-5)


.iconic-move *
  iconic-color(color-3)


.iconic-pen *
  iconic-color(color-secondary)

  &.iconic-property-accent
    iconic-color(color-primary)
  


.iconic-pencil *
  &.iconic-pencil-shaft
    iconic-color(color-5)
  
  &.iconic-pencil-exposed-wood
    iconic-color(color-1)
  
  &.iconic-pencil-eraser-border
    iconic-color(color-secondary)
  
  &.iconic-pencil-eraser
    iconic-color(color-10)
  


.iconic-people *
  &.iconic-people-person-body-left
    iconic-color(color-3)
  
  &.iconic-people-person-head-left
    iconic-color(darken(color-1, 5%))
  
  &.iconic-people-person-body-center
    iconic-color(color-4)
  
  &.iconic-people-person-head-center
    iconic-color(darken(color-1, 15%))
  
  &.iconic-people-person-body-right
    iconic-color(color-7)
  
  &.iconic-people-person-head-right
    iconic-color(darken(color-1, 10%))
  


.iconic-person *
  &.iconic-person-head
    iconic-color(color-4)
  
  &.iconic-person-body
    iconic-color(darken(color-4, 10%))
  
  &.iconic-person-male-head
    iconic-color(color-7)
  
  &.iconic-person-male-body
    iconic-color(darken(color-7, 10%))
  
  &.iconic-person-female-head
    iconic-color(color-3)
  
  &.iconic-person-female-body
    iconic-color(darken(color-3, 10%))
  


.iconic-pie-chart *
  &.iconic-pie-chart-slice-large
    iconic-color(color-4)
  
  &.iconic-pie-chart-slice-medium
    iconic-color(color-8)
  
  &.iconic-pie-chart-slice-small
    iconic-color(color-2)
  


.iconic-pin *
  iconic-color(color-secondary)

  &.iconic-property-accent
    iconic-color(color-7)
  


.iconic-plus *
  iconic-color(color-4)


.iconic-power-standby *
  iconic-color(color-8)


.iconic-print *
  iconic-color(color-primary)
  &.iconic-print-paper
    iconic-color(color-secondary)
  


.iconic-project *
  &.iconic-project-task-1
    iconic-color(color-4)
  
  &.iconic-project-task-2
    iconic-color(color-8)
  
  &.iconic-project-task-3
    iconic-color(color-3)
  
  &.iconic-project-task-4
    iconic-color(color-2)
  


.iconic-pulse *
  iconic-color(color-7)


.iconic-rainy *
  iconic-color(color-secondary)

  &.iconic-property-accent
    iconic-color(lighten(color-3, 30%))
  


.iconic-random *
  iconic-color(color-primary)
  &.iconic-random-arrowhead-top, .iconic-random-line-top
    iconic-color(color-secondary)
  


.iconic-reload *
  iconic-color(color-8)


.iconic-rss *
  iconic-color(color-6)

  &.iconic-rss-center
    iconic-color(color-6)
  


.iconic-rss-alt *
  iconic-color(color-6)


.iconic-screwdriver *
  iconic-color(color-secondary)

  &.iconic-screwdriver-handle
    iconic-color(color-7)
  


.iconic-script *
  iconic-color(color-secondary)


.iconic-settings *
  iconic-color(color-primary)

  &.iconic-property-accent
    iconic-color(color-secondary)
  


.iconic-share-boxed *
  iconic-color(color-3)

  &.iconic-property-accent
    iconic-color(color-secondary)
  


.iconic-shield *
  iconic-color(color-3)

  &.iconic-shield-shadow
    iconic-color(darken(color-3, 10%))
  


.iconic-signal *
  .iconic-signal-bar-1
    iconic-color(color-secondary)
  

  .iconic-signal-bar-2
    iconic-color(color-secondary)
  

  .iconic-signal-bar-3
    iconic-color(color-secondary)
  

  .iconic-signal-bar-4
    iconic-color(color-secondary)
  

  .iconic-signal-bar-5
    iconic-color(color-primary)
  


.iconic-signpost *
  iconic-color(darken(color-1, 10%))
  &.iconic-signpost-sign-right
    iconic-color(darken(color-1, 20%))
  


.iconic-sort-descending *
  iconic-color(color-primary)

  &.iconic-property-accent
    iconic-color(color-secondary)
  

  &.iconic-sort-descending-sort-small
    iconic-color(color-secondary)
  

  &.iconic-sort-descending-sort-medium
    iconic-color(color-secondary)
  

  &.iconic-sort-descending-sort-large
    iconic-color(color-secondary)
  


.iconic-sort-ascending *
  iconic-color(color-primary)

  &.iconic-property-accent
    iconic-color(color-secondary)
  

  &.iconic-sort-ascending-sort-small
    iconic-color(color-secondary)
  

  &.iconic-sort-ascending-sort-medium
    iconic-color(color-secondary)
  

  &.iconic-sort-ascending-sort-large
    iconic-color(color-secondary)
  


.iconic-spreadsheet *
  iconic-color(color-4)

  &.iconic-spreadsheet-row, .iconic-spreadsheet-column
    iconic-color(lighten(color-4, 20%))
  


.iconic-star *
  iconic-color(color-5)


.iconic-sun *
  iconic-color(color-6)

  &.iconic-property-accent
    iconic-color(color-5)
  


.iconic-share *
  iconic-color(color-3)


.iconic-tag *,
.iconic-tags *
  iconic-color(color-8)

  &.iconic-property-accent
    iconic-color(lighten(color-8, 30%))
  


.iconic-task *
  
  &.iconic-task-check
    iconic-color(color-4)
  
  &.iconic-task-check-box
    iconic-color(darken(color-4, 10%))
  


.iconic-thermometer *
  &.iconic-thermometer-tick
    iconic-color(color-secondary)
  
  &.iconic-thermometer-shaft, .iconic-thermometer-well
    iconic-color(color-7)
  


.iconic-thumb-up *
  iconic-color(color-4)

  &.iconic-property-accent
    iconic-color(color-secondary)
  


.iconic-thumb-down *
  iconic-color(color-7)

  &.iconic-property-accent
    iconic-color(color-secondary)
  


.iconic-tiara *
  iconic-color(color-9)


.iconic-timer *
  &.iconic-timer-needle
    iconic-color(color-7)
  


.iconic-tint *
  iconic-color(color-2)
 

.iconic-tools *
  iconic-color(color-secondary)

  &.iconic-tools-screwdriver-handle
    iconic-color(color-7)
  

  &.iconic-tools-hammer-handle
    iconic-color(darken(color-1, 20%))
  


.iconic-transfer *
  &.iconic-property-accent
    iconic-color(color-secondary)
  


.iconic-vertical-align *
  &.iconic-vertical-align-top-alignment-line, 
  .iconic-vertical-align-center-alignment-line,
  .iconic-vertical-align-bottom-alignment-line
    iconic-color(color-secondary)
  
  &.iconic-vertical-align-top-element-1,
  .iconic-vertical-align-center-element-1,
  .iconic-vertical-align-bottom-element-1
    iconic-color(color-4)
  
  &.iconic-vertical-align-top-element-2,
  .iconic-vertical-align-center-element-2,
  .iconic-vertical-align-bottom-element-2
    iconic-color(color-2)
  
  &.iconic-vertical-align-top-element-3,
  .iconic-vertical-align-center-element-3,
  .iconic-vertical-align-bottom-element-3
    iconic-color(color-8)
  


.iconic-video *
  &.iconic-video-lens
    iconic-color(color-secondary)
  


.iconic-volume *
  &.iconic-volume-off-mute
    iconic-color(color-7)
  

  &.iconic-volume-low-wave
    iconic-color(lighten(color-4, 15%))
  

  &.iconic-volume-medium-wave
    iconic-color(lighten(color-4, 8%))
  

  &.iconic-volume-high-wave
    iconic-color(color-4)
  


.iconic-warning *
  iconic-color(color-6)


.iconic-wifi *
  iconic-color(color-primary)

  &.iconic-wifi-wave-inner
    iconic-color(color-secondary)
  

  &.iconic-wifi-wave-middle
    iconic-color(color-secondary)
  

  &.iconic-wifi-wave-outer
    iconic-color(color-secondary)
  


.iconic-x *
  iconic-color(color-7)


.iconic-yen *
  iconic-color(color-9)


.iconic-zoom-in *
 
  &.iconic-zoom-in-handle
    iconic-color(color-1)
  
  &.iconic-zoom-in-handle-connector
    iconic-color(color-secondary)
  
  &.iconic-zoom-in-rim
    iconic-color(color-secondary)
  
  &.iconic-zoom-in-plus
    iconic-color(color-3)
  


.iconic-zoom-out *
 
  &.iconic-zoom-out-handle
    iconic-color(color-1)
  
  &.iconic-zoom-out-handle-connector
    iconic-color(color-secondary)
  
  &.iconic-zoom-out-rim
    iconic-color(color-secondary)
  
  &.iconic-zoom-out-minus
    iconic-color(color-7)
  


