/* Iconic theme rules. Don't delete! */
/* Hide all icons that are waiting to be injected */
img.iconic {
  display: none; }

/* Make sure filled and text elements only get fills */
.iconic-property-fill, .iconic-property-text {
  stroke: none !important; }

/* Make sure stroked elements only get strokes */
.iconic-property-stroke {
  fill: none !important; }

/* Theme-specific rules */
/* Main color */
.iconic * {
  fill: #da3a35;
  stroke: #da3a35; }

/* Accent color */
.iconic .iconic-property-accent {
  fill: #f2b8b6;
  stroke: #f2b8b6; }
